.edit-btn{
    border: none;
    background-color: #FE8F8D;
    padding: 7px 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 12px;
}
.edit-btn1{
    border: none;
    background-color: #FE8F8D;
    padding: 7px 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 13px;
}



.edit-btn:hover{
    color: #fff;
}
.edit-btn1:hover{
    color: #fff;
}

.continue-shoping{
    justify-content: space-between;
    margin-top: 31px;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: end;
    display: flex;
}
.shoping-total{
    display: block;
    margin-right: 123px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 38px;

}

.back-shoping{
    background-color: #F68685;
    padding: 9px 15px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 17px;

}
.btn-td{
    width: 200px;
}

.clear{
    padding: 9px 61px;
    margin-top: 113px;
    border: none;
    background-color: #f68685;
    font-size: 17px;
    letter-spacing: 4px;
    border-radius: 5px;
}

.clear:hover{
    
    color: #fff;
    
}
.payment-btn{
    border: none;
    padding: 5px 23px;
    border-radius: 4px;
    background-color: #7093e6;
    color: #fff;
    letter-spacing: 3px;
}
.payment-btn:hover{
    color: black;
}

.cus_info_fild{
    width: 374px;
    margin-bottom: 2px;
    height: 35px;
    padding-left: 11px;
    border: none;
    letter-spacing: 2px;
    font-size: 19px;
}

.cus_info_fild:focus {
    outline: none;
  }
  .user_info{
    font-size: 19px;
    letter-spacing: 2px;
  }