.ChatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s;
  position: relative;
  border-radius: 5px;
}
.ChatOnlineFriend:hover {
  background-color: rgb(235, 235, 235);
}

.ChatOnlineFriendImgContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.badge-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
  position: absolute;
  top: 28%;
  left: 44px;
}
.ChatOnlineFriend span {
  padding-left: 10px;
}
