.doctor-card{
    margin: 15px;
    padding: 7px;
}
.icon-setup{
    width: 20%;
    margin-left: auto;
}
.icon-setup i{
    padding: 15px;
    margin: 5px;
    background-color: #7093E5;
    cursor: pointer;
    color: #FFFFFF;
}
.icon-setup i:hover{
    background-color: #F68685;
    transition: .5s;
}
.about-doctor{
    position: relative;
    bottom: -8rem;
    background-color: #FFFFFF;
    border-left: 5px solid #7093E5;
    display: none;
}
.doctor-card:hover .about-doctor{
    display: inherit;
}


@media only screen and (max-width: 600px) {
    .doctor-card{
        margin: 0;
        padding: 0;
        border: none;
    }
}
@media only screen and (max-width: 992px) {
    .doctor-card{
        margin: 0 0px;
        padding: 0;
        border: none;
    }
}
@media only screen and (max-width: 1025px) {
    .doctor-card{
        margin: 0;
        padding: 5px;
    }
}
@media only screen and (max-width: 1281px) {
    .doctor-card{
        margin: 10px;
        padding: 5px;
    }
    .about-doctor{
        position: relative;
        bottom: -3rem;
    }
}