.request-blood-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.request-blood-form input,
.request-blood-form button,
.request-blood-form select {
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #f68685;
  outline: 0;
  /* border: 1px solid #7093e6; */
}

.request-blood-form {
  padding: 25px 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #7093e64f;
  /* background-color: #f687853a; */
}
