.all_donor_container {
  padding: 50px;
}
.search-fild {
  /* margin-bottom: 30px; */
}
.donor-src {
  color: #f68685;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.search-btn {
  padding: 5px 20px;
  margin-left: 16px;
  background-color: #f68685;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  transition: 0.3s;
  outline: 0;
  border: 0;
}

.search-btn:hover {
  background-color: #7093e6;
}

.select-option {
  font-size: 18px;
  margin-left: 7px;

  display: flex;
  align-items: center;
}

.smaill-css {
  padding: 0px 6px;
  color: #f70021;
  font-size: 24px;
}

.no-fund {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 400;
  font-size: 32px;
}

.select-options {
  padding: 4px;
  color: red;
  font-size: 19px;
  font-weight: bolder;
  margin-top: 20px;
}

.make-req {
  display: inline-block;
  padding: 20px;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.082);
  border-radius: 20px;
}
.all_donor {
  display: flex;
  gap: 20px;
}
