.blood_dashboard_mobile_header {
  background-color: rgba(241, 211, 211, 0.733);
}
.bloodBankHeader {
  /* background-color: rgba(238, 106, 106, 0.733); */
  background-color: rgba(241, 211, 211, 0.733);
}
.dashboard_left_nav_bloodBank {
  background-color: rgba(241, 211, 211, 0.733);
}
.blood_drop {
  color: rgba(252, 14, 14, 0.658);
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.bloodBank_header_logout {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgba(252, 14, 14, 0.658);

  border-radius: 5px;
}
.bloodBank_header_logout:hover {
  background-color: #f68685;
}
.bloodBank_header_logout span {
  margin-right: 5px;
}
