.thard-section {
  background-color: #f4f7f6;
  margin-bottom: 100px;
}
.thard-item {
  box-shadow: 0 0 3px 0 #acb3bf;
  border-radius: 7px;
  height: 635px;
}
.patient-history {
  font-size: 18px;
  font-family: serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 24px;
  margin-top: 21px;
}
.card-top-section ul {
  display: flex;
  margin-top: 21px;
  margin-right: 29px;
}
.card-top-section ul li {
  background-color: #e2e3e5;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 1px;
  font-size: 12px;
  font-weight: 600;
  font-family: auto;
}
.card-top-section ul li:hover {
  background-color: #01b2c6;
}
.ct-legend {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
  margin-bottom: 8px;
  position: relative;
  text-align: right;
}
.ct-legend li {
  font-size: 13px;
  margin-right: 19px;
  font-family: monospace;
  font-weight: 600;
  display: inline-block;
  position: relative;
  padding-left: 18px;
  vertical-align: middle;
}
.ct-legend li.inactive:before {
  background: transparent;
}
.ct-legend .ct-series-1:before {
  background-color: #38bfc6;
  border-color: #38bfc6;
}
.ct-legend .ct-series-2:before {
  background-color: #f9a11d;
  border-color: #f9a11d;
}
.ct-legend .ct-series-3:before {
  background-color: #ab7df6;
  border-color: #ab7df6;
}
.ct-legend li:before {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  border: 3px solid transparent;
}
.barChart-2nd-part {
  width: 100%;
  height: 385px;
  margin-top: 30px;
}
.patient-asnt {
  margin-top: 17px;
}
.icu-section {
  margin-top: 24px;
}

.month {
  display: flex;
  margin-right: 31px;
}
.month li {
  margin-top: 20px;
  background-color: #0b9999;
  margin-right: 6px;
  height: 29px;
  width: 29px;
  line-height: 29px;
  text-align: center;
  border-radius: 50%;
}

.month li:hover {
  background-color: #ab7df6;
}

.Hospital-Activities {
  background-color: #fff;
  padding: 26px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 0px grey;
}
.timeline-item {
  padding: 1em 2em 2em;
  position: relative;
  border-left: 1px solid #0b9999;
}
.timeline-item.green:after {
  border-color: #86c541;
}
.timeline-item.Blue:after {
  border-color: #1d80e6;
}
.timeline-item.orange:after {
  border-color: #f9a11d;
}
.timeline-item:after {
  width: 15px;
  height: 15px;
  top: 1em;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: "";
  background: #fff;
  border: 3px solid;
}
.Activities {
  margin-top: 10px;
  margin-bottom: 30px;
}
.today.green {
  color: #155f02;
  margin-bottom: 13px;
}
.today.Blue {
  color: #1d80e6;
  margin-bottom: 13px;
}
.today.orange {
  color: #f9a11d;
  margin-bottom: 13px;
}
.today-containt {
  line-height: 25px;
}
