.single-donor {
  border: 1px solid #7093e6;
  border-radius: 5px;
  padding: 0;
  /* text-align: center; */
  flex-basis: 300px;
  flex-grow: 1;
}

.user-icon {
  font-size: 22px;
  margin-right: 10px;
  color: #7093e6;
}
.blood-grp {
  color: #ff0000ba;
}

.card-titels {
  font-family: auto;
  font-weight: 600;
}

.name-donor {
  font-family: auto;
  font-size: 24px;
}
