.single-donor {
  border: 1px solid #7093e6;
}

.user-icon {
  font-size: 22px;
  margin-right: 8px;
  color: blueviolet;
}
.blood-grp {
  color: #ff0000ba;
}

.card-titels {
  font-family: auto;
  letter-spacing: 1px;
  font-weight: 600;
}

.name-donor {
  font-family: math;
  font-size: 24px;
  letter-spacing: 1px;
}

.btn-contact {
  border: navajowhite;
  background-color: #f68685;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  border: none;
}

.btn-contact:hover {
  background-color: #7093e6;
  color: rgb(255, 255, 255);
}
