.sigma-about-fild {
  background-color: #fef5f5;
}

.about-heding {
  text-transform: uppercase;
  color: #4676e3;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
  line-height: 50px;
}

.welcome-msg {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 55px;
}
.content {
  color: #00000094;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 24px 0px;
}

.opning-time {
  background-color: #7093e5;
  border-radius: 4px;
  padding: 30px 20px;
}
.opning-time,
td {
  color: aliceblue;
}
.time {
  color: white;
  padding-left: 11px;
  font-size: 30px;
  font-family: auto;
  letter-spacing: 1px;
}

.watch {
  width: 110px;
}
.table-data {
  padding: 19px 4px;
}

.checkbox-icon {
  color: #f68685;
  margin-right: 8px;
  padding-top: 10px;
}

ul li {
  list-style: none;
  font-size: 18px;
  margin-left: 3px;
}

.name {
  margin-left: 33px;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 45px;
}
.co-funder {
  font-size: 17px;
  letter-spacing: 2px;
  color: #4e87f2;
  font-weight: 700;
}
.signature {
  margin-left: 23px;
}

.appointment-btn {
  margin-top: 50px;
  margin-left: 28px;
  border: none;
  padding: 8px 10px;
  background-color: #f68685;
  color: white;
  margin-bottom: 27px;
}
.btn-icon {
  font-size: 18px;
  margin-left: 10px;
  color: white;
  background-color: #f59d9c;
  padding: 15px;
}
.appointment-btn:hover {
  background-color: #7093e5;
  transition: all 0.5s ease-in;
}
.appointment-btn:hover .btn-icon {
  background-color: #a9c0f5;
  transition: all 0.5s ease-in;
}
.img-about img {
  width: 100%;
}
