.sigma-about-fild{
    background-color: #FEF5F5;
}

.about-heding{
    text-transform: uppercase;
    color: #4676e3;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;

}

.welcome-msg{
   
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 11px;


}

.fild-control{

}

.bold-welcome{
    font-size: 38px;
    font-weight: 500;
    font-family: serif;
}
.content{
    color: #00000094;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 24px 0px;

}

.opning-time{
    background-color: #7093E5;
    border-radius: 4px;

}
.opning-time ,td{
    color: aliceblue;
}
.time{
    color: white;
    padding-left: 11px;
    font-size: 30px;
    font-family: auto;
    letter-spacing: 1px;
} 


.watch{
    width: 110px;
    
}
.table-data{
    padding: 19px 4px;
    padding-bottom: 46px;
}

.checkbox-icon{
    color: #F68685;
    margin-right: 8px;
    padding-top: 15px;
    font-size: 16px;

}

.list-fild{
    margin-left: 75px;
}

ul li{
    list-style: none;
    font-size: 16px;
    font-family: inherit;
    margin-left: 3px;
}

.name{
    margin-left: 33px;
    font-size: 21px;
    font-family: fangsong;
    letter-spacing: 3px;
    margin-top: 20px;

}
.co-funder{
    margin-left: 31px;
    font-size: 11px;
    letter-spacing: 2px;
    color: #4E87F2;
    font-weight: 700;

}
.signature{
    width: 138px;
    margin-left: 23px;
}

.appointment-btn{
    margin-top: 10px;
    margin-left: 28px;
    border: none;
    padding: 0px 14px;
    background-color: #F68685;
    color: white;
    margin-bottom: 27px;

}
.btn-icon{
    font-size: 15px;
    margin-left: 10px;
    color: white;
    background-color: #f59d9c;
    padding: 15px;
}
.appointment-btn:hover{
    background-color: #7093E5;
    transition: all 0.5s ease-in;
}
.appointment-btn:hover .btn-icon{
    background-color: #a9c0f5;
    transition: all 0.5s ease-in;
}
.doctor-image{
    height: 81%;
    width: 84%;
}

.image-fild{
    display: flex;
    justify-content: center;
}


