tr td{
    color: black;
}
.medicen-input-fild{
    width: 86px;
    border: 1px solid #808080;
    border-radius: 5px;
    height: 31px;
    font-size: 14px;
    padding-left: 7px;
    font-family: monospace;
    font-weight: 700;
}

.Add-Cart{
    width: 100%;
    padding: 5px 1px;
    background-color: #f68685;
    border: none;
    border-radius: 4px;
    letter-spacing: 1px;
    font-weight: 500;
}
.Add-Cart:hover{
    color: white;
}

.search-medicen{
    display: flex;
    justify-content: end;
}
.search-option-medicen{
    width: 305px;
    height: 39px;
    border-radius: 7px;
    border: 1px solid #0069ff;
    padding-left: 13px;
    font-size: 18px;
    letter-spacing: 3px;

}

.cart{
    color: #4169e1;
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 21px;
    position: relative;
}
.cart-icon{
    font-size: 36px;
    /* position: relative; */
}

.cart-item{
    position: absolute;
    background-color: #f68685;
    color: #fff;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 13px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: 1;
}

.Medicine-spnir{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 192px;
}
.Medicine-Center{
    letter-spacing: 1px;
    font-size: 24px;
    color: #f68685;
}


.pageCount{
    margin-left: 21px;
    margin-top: 18px;
}
.pageCount button{
    margin-left: 16px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px 27px;

}

.pageCount .selected{
    background-color: #f68685;
}
.pageNumber{
    font-size: 20px;
    font-weight: 500;
    font-family: revert;
}

.stockOut{
    color: red !important;
}