.messenger {
  height: calc(100vh - 150px);
  display: flex;
}
.chatMenu {
  flex: 2.5;
}
.chatBox {
  flex: 5;
}
.chat {
  flex: 2.5;
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatWrapper {
  padding: 10px;
  height: 100%;
}
.chatWrapper {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chatMenuWrapper {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chatMenuInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  padding-left: 10px;
}
.chatBoxWrapper {
  position: relative;
}
.chatBoxButtom {
  margin-top: 5px;
  width: 100%;
}
.chatMenuInput:focus {
  outline: none;
}

.chatBoxButtom textarea {
  width: calc(100% - 125px);
  height: 60px;
  padding: 10px;
}
.chatBoxButtom textarea:focus {
  outline: none;
}

/* .chatBoxButtom button {
  min-width: 125px;
  padding: 18px 0;
  display: block;
  background-color: blueviolet;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
} */
.open-chat {
  font-size: 40px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
.chatBoxButtom .btn {
  width: 42px !important;
  display: inline-block;
  text-align: center;
  padding-right: 30px;
}
.chatBoxButtom .search input {
  text-indent: 0px !important;
  padding-right: 40px !important;
}
